# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
*.db
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environments
.env
.venv/
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Coverage/testing
htmlcov/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

